<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Globe-Trotter</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Itim|Marck+Script|Pacifico|Roboto" rel="stylesheet">
</head>
<body> 
  <nav>
    <a href="/login"><h3 class="logo">Globe-Trotter</h3></a>
  </nav>
  <section id="content">
  </section>
  <footer>
    <a href="http://www.whitesidedesign.com" target="_blank">WhitesideDesign.com</a>
    <h3>&copy; 2018 Nikolas Whiteside</h3>
  </footer>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>